# FastAPI and Server
fastapi
uvicorn[standard]

# Database and Vector
psycopg2-binary
pgvector

# LangChain and AI
langchain
langchain-community
langchain-ollama
langchain-core
sentence-transformers
requests
flashrank
langgraph

# Document Loaders
langchain-docling
pypdf

# Utilities
python-dotenv

# Whisper
sounddevice
soundfile
numpy
faster-whisper
torch
python-multipart

# OCR
pytesseract
Pillow



